@using SportsStore.Domain.Entities
@model Product

<!--
分部页不需要controller的action方法支持，只需要定义视图文件(根据需要定义页面Model)
其他页面调用分布视图时 可根据分部视图的定义传入相应的参数。
-->

<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }

    <span class="lead">@Model.Description</span>
</div>
