@using SportsStore.WebUI.Models
@model CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}
<style type="text/css">
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Your Cart</h2>
<table class="table" id="cartTable">
    <thead>
        <tr>
            <th>Count</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Count</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Count * line.Product.Price).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFormCart", "Cart"))
                    {
                        @Html.Hidden("Id", line.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input type="submit" class="btn btn-sm btn-warning" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeToValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
</div>
